{% extends baseTemplate %}

{% block title %}
<title>Discussions | Accessibility Hub</title>
{% endblock %}

{% block content %}
<h1>Discussions</h1>
<p>Welcome to a hub of thought-provoking conversations dedicated to the world of accessibility! Here, you'll find a vibrant community of individuals passionate about creating inclusive experiences for everyone. Whether you're a seasoned expert or just starting your journey, this space offers an open platform.</p>
<h2><a href="{% url 'discussions:index' %}">Index</a></h2>
{% endblock %}
