{% extends baseTemplate %}

{% block title %}
<title>New Topic - Discussions | Accessibility Hub</title>
{% endblock %}

{% block content %}
<h1>Create new Topic</h1>
{% if request.user.is_authenticated %}
<p>Fill in the topic details below</p>
<form hx-post="{% url "discussions:newTopic" %}" hx-target="#main-content" hx-swap="inner">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Create Topic">
</form>
{% else %}
<p>You need to <a href="{% url "core:login" %}"> to create a topic.</p>
{% endif %}
{% endblock %}
