/* Accessibility Hub base css file */

/**
* root
*/
:root {
	/**
* variables
*/
	--blue-off-white: #EDF5FF;
}

body {
	font-family: 'Noto Sans', "Segoe UI", sans-serif;
	background-color: #05143F;
	color: var(--blue-off-white);
}

.blue-off-white-text {
	color: #EDF5FF;
}

a {
	text-decoration: none;
	color: #0000FF;
	/* blue */
	cursor: pointer;

	:hover {
		text-decoration: underline;
		color: #FF0000;
		/* red */
	}

	:visited {
		color: #800080;
		/* purple */
	}

}

.errorlist li {
	color: red;
}

form {
	color: var(--blue-off-white);

	input[type="text"] {
		color: var(--blue-off-white);
	}
	textarea {
		/* color: var(--blue-off-white); */
		background-color: teal;
	}
}

nav {
	color: teal;
}
