/* Footer Style Sheet */

footer {
    background: black;
    color: white;
    text-align: center;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer div p {
    margin: 0;
    padding: 10px;
}