<!DOCTYPE html>
<!-- core/base.html -->
<html lang="en">
<head>
    {% include "core/head.html" %}
		{% block title %}{% endblock %}
</head>
<body id="#body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	<header>
    {% include "core/header.html" %}
    </header>
    <h1>Demo</h1>
    <p>Accessibility hub is currently in demo. All data would be wipedout when moving to production, so, you shouldn't rely on it, and you can do whatever you want with it.</p>
    <main>
    
    <div class="main-content" id="main-content">
        {% block content %}{% endblock %}
    </div>

    </main>

    <footer>
    <a href="#main-content">Back to top</a>
    {% include "core/footer.html" %}
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
