{% extends 'core/base.html' %}

{% block title %}
<title>{{ tool.name }} | Accessibility Hub</title>
{% endblock %}

{% block content %}
<h1>{{ tool.name }}</h1>
<p>Website: <a href="{{ tool.url }}">{{ tool.url }}</a></p>
<p> Average rating: {% if tool.avgRating is None %}No rating yet.{% else %}{{ tool.avgRating }}{% endif %} out of 5</p>
<p>Owner: <a href="{% url 'review:owner' slug=owner.slug base36Id=owner.base36Id %}">{{ owner.name }}</a></p>
<p>{{ tool.description }}</p>
<h2>Comments</h2>
{% if not reviews %}
<p>No comments yet.</p>
{% else %}
{% for review in reviews %}
<h3>Comment by {{ review.user.get_full_name }}</h3>
<p>Rating: {{ review.rating }}</p>
<p>{{ review.comment  }}</p>
{% endfor %}
{% endif %}
{% endblock %}
