<!-- templates/head.html -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }} | Accessibility Hub - Making the Web More Inclusive</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
{% load static %} <!-- Load static files -->
<link href="{% static 'core/images/favicon.ico' %}" rel="icon">
<link href="{% static 'core/css/header-style.css' %}" rel="stylesheet">
<link href="{% static 'core/css/footer-style.css' %}" rel="stylesheet">