<!-- templates/head.html -->
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<accessibilityhub="robots" content="index, follow">
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
<!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!--Site css-->
<link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&italic&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
