<!-- templates/header.html -->
<p>Accessibility Hub</p>
<p>Your accessibility focused community</p>
    <nav>
	    <ul>
		<li><a href="{% url 'review:index' %}">Reviews</a></li>
		{% if user.is_authenticated %}
		<li><a href="{% url 'core:logout' %}?next={{ request.path }}">Logout</a></li>
		{% else %}
		<li><a href="{% url 'core:login' %}?next={{ request.path }}">Login</a></li>
		<li><a href="{% url 'core:createAccount' %}?next={{ request.path }}">Create Account</a></li>
		{% endif %}
		    </ul>
		    </nav>
