<!-- Header template -->
{% load static %}
<nav class="teal z-depth3">
	<div class="nav-wrapper">
		<a href="{% url 'core:home' %}" class="blue-text text-darken-4 brand-logo">
			<span style="font-style: italic;" class="red-text"><b>A</b></span>ccessibility <span class="red-text"><b>H</b></span>ub
		</a>
		<ul class="right hide-on-med-and-down">
			{% include 'core/siteNavigation.html' %}
		</ul>
		<a href="#" data-target="mobile-sidenav" class="sidenav-trigger">
			<i class="material-icons">menu</i>
		</a>
		<ul class="sidenav hide-on-large-only" id="mobile-sidenav">
			{% include 'core/siteNavigation.html'%}
		</ul>
	</div>
</nav>
