<!-- templates/head.html -->
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<accessibilityhub="robots" content="index, follow">
<script src="https://unpkg.com/htmx.org@1.9.6"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'core/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'core/base.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&italic&display=swap" rel="stylesheet">
