<!-- templates/head.html -->
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">

<!-Htmx--->
<script src="https://unpkg.com/htmx.org@1.9.6"></script>

<!--Site css-->
<link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&italic&display=swap" rel="stylesheet">

<!-- Materialize css -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3/dist/css/materialize.min.css">
<!-- Material icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
