{% extends "core/base.html" %}

{% block title %}
<title>Home | Accessibility Hub</title>
{% endblock %}

{% block content %}
<article>
	<h1>Get accessibility information</h1>
	<p>get information on the accessibility of a tool, be it a software or a physical tool. Information that is relevant, information directly from people you can relate with.</p>
	<h2>Safe hours of searching for accessible tools</h2>
	<p>Was a tool suggested to you and you're wondering if it is accessible? Are you looking for an accessible tool that does X? Check out our <a href="{% url 'review:index' %}">index</a> of tools reviewed by people with different types of disabilities. This will safe you having to try something you can't use.</p>
	<h2>Can't find a tool here?</h2>
	<p>Don't worry. Head on over to our <a href="{% url 'review:newTool' %}">new tool page</a> to create it.</p>
	</article>
{% endblock %}

