{% extends baseTemplate %}

{% block title %}
<title>Tool Reviews Index | Accessibility Hub</title>
{% endblock %}

{% block content %}
<h1>Tools Reviews</h1>
<p>Discover tools reviewed and rated by the community! Your review and rating are vital to help others make informed
	decisions on accessible tools. Join our inclusive community, share your insights, and together, let's make the
	digital world more accessible for everyone.</p>
<nav aria-label="Reviews">
	<div class="row">
		<div class="col s12 m12 l9">
			<form hx-get="{% url 'reviews:search' %}" hx-target="#tool-listing" hx-swap="inner"
				role="search">
				{% csrf_token %}
				<label for="search-term" style="font-size: 1.3rem;"><i
						class="material-icons">search</i></label>
				<input type="text" id="search-term" name="searchTerm" required>
				<input type="submit" value="Search">
			</form>
		</div>
		<div class="col s12 m12 l3">
			{% if user.is_authenticated %}
			<p><a href="{% url 'reviews:newTool' %}">Request new tool</a></p>
			{% else %}
			<p><a href="{% url 'core:login' %}">Login to request new tool</a></p>
			{% endif %}
		</div>
	</div>
</nav>
<section aria-label="Tool listing" id="tool-listing">
	<h2>All Tools</h2>
	<p>Here is a list of all the tools that has been created.</p>
	{% for tool in tools %}
	{% include 'reviews/toolObject.html' with tool=tool %}
	{% endfor %}
</section>
{% endblock %}
