name: Code Quality  # Testing, Linting and formatting

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Hatch
        uses: pypa/hatch@install
      - name: setup django
        run: hatch run random-secret-key >> .env
      - name: run tests
        run: hatch run src/accessibilityHub/manage.py test tests
      - name: run ruff with hatch
        run: hatch fmt --check
